/** Common sass **/

html,body{
	margin:0px;
	padding:0px;
	height:100%;
	width:100%;

}

body {
	background: $body-bg;
	color: $body-color;
    font-family: $base-font-family;
    font-size:$font-size-base;

	&:before{
		content:'';
		background: rgba(#1E2522,.4);
		position: absolute;
		z-index: 9998;
		top:0;
		left:0;
		width:100%;
		height: 100%;
		display: block;
		pointer-events:none;
		opacity: 0;
		transition: opacity 600ms ease;
	}

	&.menu-open{
		&:before{
			opacity: 1;
		}
	}
}

.fa {
    font: normal normal normal 26px/1 FontAwesome !important;
}

section {
	padding: 1rem 0;
}

:hover,
:focus,
:active {
	outline: none !important;
}

input,
textarea,
select,
label{
	font-family:inherit;
}
.form-control, .wpcf7 .wpcf7-validation-errors, .wpcf7 input[type=color], .wpcf7 input[type=date], .wpcf7 input[type=datetime-local], .wpcf7 input[type=datetime], .wpcf7 input[type=email], .wpcf7 input[type=file], .wpcf7 input[type=month], .wpcf7 input[type=number], .wpcf7 input[type=range], .wpcf7 input[type=search], .wpcf7 input[type=submit], .wpcf7 input[type=tel], .wpcf7 input[type=text], .wpcf7 input[type=time], .wpcf7 input[type=url], .wpcf7 input[type=week], .wpcf7 select {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
	color:$white;
	background-color: none;
    background-clip: padding-box;
    border: 2px solid $white;
    border-radius: 0;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
textarea.wpcf7-form-control.wpcf7-textarea {
    height: unset;
}

hr {
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: auto;
	margin-right: auto;
	border-style: inset;
	border-width: 0px;
	width:20%;
	height: 3px;
	background-color:$dark;
}


/* Special Colours*/
.grey {
    background-color:$grey !important;
}
.green {
    background-color:$secondary !important;
}
.red {
    background-color:$primary !important;
}
.red-demi {
    background-color:rgba(227, 6, 19, 0.6) !important;
}
.grey-demi {
    background-color:rgba(83, 102, 108, 0.6) !important;
}
.green-demi {
    background-color:rgba(190, 214, 47, 0.6) !important;
}
.light-grey {
    background-color: $light-grey;
}
button {
	background:none;
	border: 2px solid $white;
	border-radius:0px;
	max-width:48%;
	padding: 0.65em 2em;
	font-size: $font-size-base;
	text-transform:uppercase;
	color:$white;
	font-weight:700;
	transition: all 0.3s ease 0s;
	&:hover {
		background:$white;
		color:$primary;
	border: 2px solid $white;
	}
	@media screen and (max-width:$screen-xs-max) {
		padding: .35em 1em;
		margin: 10px 0;
    	font-size: 15px;
	}
}
.tagline {
	
	font-style: italic;
}
button.alt-button {
	background:$white;
	border: 2px solid $white;
	color:$dark;
	&:hover {
		background:$dark;
		border: 2px solid $dark;
		color:$white;
	}
}
.secondary-button {
	background: rgb(172,12,22);
background: linear-gradient(0deg, rgba(172,12,22,1) 0%, rgba(227,6,19,1) 33%, rgba(227,6,19,1) 53%);
	
	&:hover {
		background:none;
		border: 2px solid $secondary;
		color:$secondary;
	}
}

b, strong {
    font-weight: 500;
}
h1, h2, h3, h4, h5, h6 {
	
	margin:0px;
	padding:0px;
}

h1, .h1 {
	font-family: $headings-font-family;
	text-transform:uppercase;
	font-size: rem(60);
	line-height: 1em;
	margin:20px 0;
	@media screen and (max-width:$screen-md-max) {
		font-size: rem(35);
	}
	@media screen and (max-width:$screen-sm-max) {
		font-size: rem(30);
	}
}

h2, .h2 {
	font-family: $base-font-family;
    font-size: 2em;
    font-weight:300;

	
	@media screen and (max-width:$screen-md-max) {
		font-size: rem(26);
	}

	@media screen and (max-width:$screen-xs-max) {
		font-size: rem(20);
		line-height: 1.35;
	}
}

h3, .h3 {
	font-family:$headings-font-family;
	font-size: rem(30);
	font-weight:700;
	@media screen and (max-width:$screen-xs-max) {
		line-height: 1.35;
	}
}

h4, .h4 {
	font-family:$base-font-family;
    font-size:1.6em;
    text-transform:uppercase;
	font-weight:500;
	line-height:1.3em;
	letter-spacing:1px;
}

h5, .h5 {
	font-family:$headings-font-family;
	font-weight:400;
	font-size:rem(24);
	@media screen and (max-width:$screen-md-max) {
		font-size:rem(18);
	}
}

h6, .h6 {
	font-family:$base-font-family;
	
	font-size: rem(12);
	font-weight:700;
}
#page-wrapper {
	margin-top: 29px;
	@media screen and (max-width:$screen-sm-max) {
		margin-top: 60px;
	}
}
.front-page {
	margin-top: 55px;
}
p {
	//margin:0px;
	line-height: 1.75;
	letter-spacing: 0.0125em;
	font-size:$font-size-base;
	font-weight:300;
	color: $dark-grey;

	@media screen and (max-width:$screen-sm-max) {
		font-size: rem(13);
	}
}
.secondary {color:$secondary;}

ul,
ol {
	margin:0px;
	li {
		margin:0px;
	}
}

a {
    color: $primary;
    font-size:$font-size-base;
	img,
	div,
	*:after,
	*:before {
		text-decoration:none;
    }
    &:hover {
        text-decoration:none;
    }
}

img.alignleft {
	float:left;
}
img.aligncenter {
	display:block;
	margin-left:auto;
	margin-right:auto;
}
img.alignright {
	float:right;
}
@media screen and (max-width:$screen-xs-max) {
	img.alignleft,
	img.aligncenter,
	img.alignright {
		display:block;
		float:none !important;
		margin-left:auto !important;
		margin-right:auto !important;
	}
}

.valign {
	display:block;
	vertical-align:middle;
	white-space:nowrap;

	> * {
		display:inline-block;
		vertical-align:middle;
		white-space:normal;
	}

	&:after {
		content:'';
		display:inline-block;
		height:100%;
		vertical-align:middle;
		pointer-events:none;
	}
}

.flex-valign {
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	align-items:center;
}

.flex-stretch {
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	align-items:stretch;
}

.align-left {
	text-align:left;
}
.align-right {
	text-align:right;
}
.align-center {
	text-align:center;
}

.no-click {
	pointer-events:none;
}


.hidden-desktop {
	@include media-breakpoint-up(md) {
		display:none !important;
	}
}

.hidden-mobile {
	@include media-breakpoint-down(sm) {
		display:none !important;
	}
}