#wrapper-footer-full, #wrapper-footer {
	background:$dark;
	text-align:center;
	color:$light-grey;
	font-weight:300;


	.widget_nav_menu {

		.menu-footer-menu-container{
			text-align:center;
		ul.menu {
			display: inline;
			li {
				display:inline;
				a {
					color:$light-grey;
				}
				
			}
		}
	}
	}
}
#wrapper-footer-full {
	padding-top:12px;
	border-top: 4px solid $primary;
}
#wrapper-footer {
	padding-bottom:12px;
}
