
.gallery {
        min-height:40vh;
        
        overflow:hidden;

        .tagline {
          color:$dark;
        }
.filter-group {
    text-align:center;
    padding: 20px 0;
    @media screen and (max-width:$screen-md-max) {
      padding: 0;
    }
    button {
        color:$red;
        text-transform:unset;
        padding: 2px 20px;
        font-size: rem(14);
        @media screen and (max-width:$screen-md-max) {
          padding: 0;
          width: 50%;
          float: left;
        //  text-align: left;
          margin: 6px 0;
        }
    }
    button.module {
      width:33%;
    }
    .filterby {
      display:none;
      font-weight: 700;
      padding: 10px 0;
      @media screen and (max-width:$screen-md-max) {
        display:block;
      }
  }
}

.grid {
    min-height: max-content !important;
    .grid-sizer,
    .gallery-item { width: 20%; }
  .gallery-item {
    position: relative;
    float: left;
    padding:0 10px;
    height:auto;
    margin-bottom:15px;
    
     
    color: #262524;
    img {
        width:100%;
    }

   
}

@media screen and (max-width:$screen-md-max) {
  .grid-sizer,
    .gallery-item { width: 50%; }
  .gallery-item {
  
    padding:0 2px;
    margin-bottom:5px;
  }
}
}

.button-inner {
    position: relative;
    margin: auto;
    overflow: hidden;

    .content-overlay {
        background: rgba(227,6,19,0.6);
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        -webkit-transition: all 0.4s ease-in-out 0s;
        -moz-transition: all 0.4s ease-in-out 0s;
        transition: all 0.4s ease-in-out 0s;

    
    }
}

.button-inner:hover .content-overlay{
    opacity: 1;
  }
  .content-image{
    max-height: 330px;
     width: 100%;

  }
  .content-details {
    position: absolute;
    text-align: center;
   // padding-left: 1em;
   // padding-right: 1em;
   padding:1rem 0;
    width: 100%;
    color:$white;
    top: 50%;
    left: 50%;
   opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    p {
      color:$white;
      font-size:rem(13);
      font-weight:600;
    }
  }
  .button-inner:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
   // background:unset;
  }
  
  .fadeIn-top{
    top:20%;
  
  } 


}

