
#wrapper-navbar{
    .navbar {
        padding: 0;

        .navbar-brand.custom-logo-link {
            margin-left: 1rem;
        }
        button.navbar-toggler {
            background: none;
            color: #fff;
            border: none;
            padding:  1rem;
            position:absolute;
            right:0;
        }

        .tagline {
            color:$white;
            font-style: italic;
        }
    }

    background:$dark;
    .frontnav {
        padding:0;
        .menu-nav a.nav-link {
            line-height:unset;
        }
        #main-menu {
           
              .menu-item-has-children:hover {
                  ul {
                     
                      top: 31px;
                      &:hover {
                          display: block;
                      }
                      li {
                        
                          background:$dark;
                        
                       //   line-height: 36px;
                          
                       
                      }
                  }
              }
                  a {
                      &:hover {
                          text-decoration: none;			
                      }
                  }
      }

        
    }
	&.header-green {
        background: $secondary !important;
        color: $dark !important;
         .menu-nav a.nav-link{
            color: $dark !important;
        }
        .tagline {
            color: $dark !important;
        }
        i {
            color: $dark !important;
        }
        #main-menu .menu-item-has-children:hover ul li a {
            color: $dark;
        }


            .navbar .ffgg #main-menu li ul li {
                background: $secondary !important;
                color:$dark;
            }
        
    }
    &.header-red {
        background: $primary !important;
        .navbar .ffgg #main-menu li ul li {
            background: $primary !important;
        }
    }
    &.grey {
      
        .navbar .ffgg #main-menu li ul li {
            background: $grey !important;
        }
    }

    .phone-section {
        padding:1rem 5px;
        @media screen and (max-width:$screen-md-max) {
            position:absolute;
            padding:3px 1rem 0 1rem;
            right:50px;
        }
        .phone-inner {

        }
    }
    .socials {
        min-width:63px;
        position: absolute;
        right:0;
        img {
            display: inline-block;
        }
    }
    .ffgg{
        width: 60%;
        float: right;



        @media screen and (max-width:$screen-md-max) {
            background:$light;
            position: absolute;
            top:98%;
            

        }
        .navbar-collapse {
            float:right;
            @media screen and (max-width:$screen-md-max) {
                float:left;
            }

        }
    }
.menu-nav {
    .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        float: left;
        min-width: 10rem;
        padding: 0;
        margin: .1rem 0 0;

        text-align: left;
        list-style: none;
        background-clip: unset;
        border: none;
        border-radius: 0;
        li {
            padding:.5rem 0;
          
        }
    }
    .menu-item {
        .dropdown-item {
            display: block;
            width: 100%;
            padding: .25rem 1.5rem;
            clear: both;
           // font-size: rem(11);
           
           // color:$white;
            text-align: inherit;
            white-space: nowrap;
            border-radius:0;
            margin:0;
             &:focus, &:hover {
                
                text-decoration: none;
                background-color: inherit;
            }

        }
    }

    display: flex;
    padding-left: 0;

    margin-bottom: 0;
    list-style: none;
    @media screen and (max-width:$screen-md-max) {
        padding:0 1rem;
    }
    a.nav-link {
            color:$white;
            padding-right: 1rem;
            padding-left: 1rem;
            font-weight:300;
            line-height:50px;
            @media screen and (max-width:$screen-md-max) {
                color:$dark;
            padding-right: 0;
            padding-left: 0;
            font-weight:500;
            }
    }
}
i {
    color:$white;
   
}
#main-menu {
		  li ul {
					display: none;
				}
			.menu-item-has-children:hover {
				ul {
					display: block;
					position: absolute;
					padding:0;
					top: 51px;
					&:hover {
						display: block;
					}
					li {
						list-style:none;
						width:100%;
						line-height: 36px;
						
						a {color: $white;}
					}
				}
			}
				a {
					&:hover {
						text-decoration: none;			
					}
				}
	}
}
