
#wrapper-navbar{
    .navbar {
        padding: 0;

        .navbar-brand.custom-logo-link {
            margin-left: 1rem;
        }
        button.navbar-toggler {
            background: none;
            color: #fff;
            border: none;
            padding: .25rem 1rem;
        }
    }

    background:$dark;
    .frontnav {
        padding:0;
    }
	&.header-green {
		background: $secondary !important;
    }
    &.header-red {
		background: $primary !important;
    }
    .ffgg{
        width: 100%;
        float: right;


        @media screen and (max-width:$screen-md-max) {
            background:$light;
            position: absolute;
            top:98%;
            

        }
        .navbar-collapse {
            float:right;
            @media screen and (max-width:$screen-md-max) {
                float:left;
            }

        }
    }
.menu-nav {
    .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        float: left;
        min-width: 10rem;
        padding: 0;
        margin: .1rem 0 0;

        text-align: left;
        list-style: none;
        background-clip: unset;
        border: none;
        border-radius: 0;
        li {
            padding:.5rem 0;
            background:$dark;
        }
    }
    .menu-item {
        .dropdown-item {
            display: block;
            width: 100%;
            padding: .25rem 1.5rem;
            clear: both;
            font-size: rem(11);
            font-weight:600;
            color:$white;
            text-align: inherit;
            white-space: nowrap;
            border-radius:0;
            margin:0;
             &:focus, &:hover {
                color: $primary;
                text-decoration: none;
                background-color: inherit;
            }

        }
    }

    display: flex;
    padding-left: 0;
    padding:0 2rem;
    margin-bottom: 0;
    list-style: none;
    @media screen and (max-width:$screen-md-max) {
        padding:0 1rem;
    }
    a.nav-link {
            color:$white;
            padding-right: 1.5rem;
            padding-left: 1.5rem;
            font-weight:300;
            @media screen and (max-width:$screen-md-max) {
                color:$dark;
            padding-right: 0;
            padding-left: 0;
            font-weight:500;
            }
    }
}
i {
    color:$white;
   
}

}
