
#wrapper-navbar{
    

        .navbar-brand.custom-logo-link {
            margin-left: 1rem;
        }
        button.navbar-toggler {
            background: none;
            color: #fff;
            border: none;
            padding:  1rem;
            position:absolute;
            right:0;
            @media screen and (max-width:$screen-md-max) {
                display:block;
            }
        }

        .tagline {
            color:$white;
            font-style: italic;
            padding: 0.5rem 0;
        }
    

    background:$dark;
    .frontnav {
        padding:5px 0;
        .menu-nav a.nav-link {
            line-height:unset;
        }
        div#navbarNavDropdown{
            display:inline-flex;
            float:right;
            @media screen and (max-width:$screen-md-max) {
                display:none;
                transition: all .3s ease 0s;
                &.show {
                    display:block !important;
                    transition: all .3s ease 0s;
                }
            }

        }
        

        
    }
	&.header-green {
        background: $secondary !important;
        color: $dark !important;
         .menu-nav a.nav-link{
            color: $dark !important;
        }
        .tagline {
            color: $dark !important;
        }
        i {
            color: $dark !important;
        }
        #main-menu .menu-item-has-children:hover ul li a {
            color: $dark;
        }


              #main-menu li ul li {
                background: $secondary !important;
                color:$dark;
            }
        
    }
    &.header-red {
        background: $primary !important;
         #main-menu li ul li {
            background: $primary !important;
        }
    }
    &.grey {
      
          #main-menu li ul li {
            background: $grey !important;
        }
    }

    
   
    



}
