#feature_buttons {
  padding: 4rem 0;
    .button-inner {
        position: relative;
        margin: auto;
        overflow: hidden;

        .content-overlay {
            
            position: absolute;
            height: 99%;
            width: 100%;
            left: 0;
           // top: 0;
            bottom: 40%;
            right: 0;
            opacity: 0;
            -webkit-transition: all 0.4s ease-in-out 0s;
            -moz-transition: all 0.4s ease-in-out 0s;
            transition: all 0.4s ease-in-out 0s;

            &.red-demi {
              background: rgba(227,6,19,0.6);
            }
            &.green-demi {
              background: rgba(190, 214, 47, 0.6);
            }
            &.grey-demi {
              background: rgba(83, 102, 108, 0.6);
            }
        }
    }

    .button-inner:hover .content-overlay{
        opacity: 1;
      }
      .content-image{
        max-height: 330px;
         width: 100%;

      }
      .content-details {
        position: absolute;
        text-align: center;
       // padding-left: 1em;
       // padding-right: 1em;
       padding:1rem 0;
        width: 100%;
        color:$white;
        top: 80%;
        left: 50%;
       opacity: 1;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
        p {
          color:$white;
          font-size:rem(13);
          font-weight:600;
        }
      }
      .button-inner:hover .content-details{
        top: 50%;
        left: 50%;
        opacity: 1;
        background:unset;
      }
      
      .fadeIn-top{
        top:9%;
        &.red-demi {
          background:$primary;
        }
        &.green-demi {
          background: rgba(190, 214, 47, 0.6);
        }
        &.grey-demi {
          background:$grey;
        }
      } 


}
