section#full_width_image_slider {


    padding:0 0;

    h1 {
        color:$white;
    }
    .carousel{
        .carousel-inner {
            display:flex;
            &.thin {
                    max-height:30vh;
            }
            &.medium {
                max-height:55vh;
        }
        &.large {
            max-height:80vh;
    }

    .middle {
        display: flex;
flex-direction: column;
justify-content: center;
    }
        }
    }
    
}