#slim_section {
    color:$white;
    padding: 1rem 0;
    margin: 0;
   // margin-bottom:2rem;

    &.green {
        color:$dark;
        button {
            color:$dark;
            border-color:$dark;
        }
    }
    h5 {
       padding: .25em 0em;
       display:inline-block;
      
    }
    button {
        margin-left:4rem;
        @media screen and (max-width:$screen-md-max) {
            margin-left:unset;
        }
    }
    
}